.section-description .title {
    color:$second-title-color;

}


.description-list {
    display: flex;

.item {
    width: 270px;
}

.item:not(:last-child) {
    margin-right: 30px;
}

.title {
    color:$title-text-color;

    margin-top: 0;
    margin-bottom: 10px;
      
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.03em;
   text-transform: uppercase; 
       
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  
}
}

 
.icon-background {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color:#F5F4FA;
    border-radius: 4px;
 
}

.icon {
    width: 70px;
    height: 70px;  
   
}
